  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet' type='text/css'>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" rel="stylesheet" type="text/css" />

  <!-- Jquery is required, embed on your page if not already - don't embed 2 versions -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript"></script>
  <!-- End Jquery -->

  <!-- Map scripts - add the below to your page -->
  <!-- jsmaps-panzoom.js is optional if you are using enablePanZoom -->
  <script src="big.js" type="text/javascript"></script>
  <!-- End Map scripts -->

<hr class="tall" />
<div class="content-title-title">
<h3>Liste des Pays de la Convention d'Abidjan</h3>

<p>Pour consulter les informations liées au pays, veuillez cliquez sur l'un des pays de la convention d'Abidjan à travers la carte interactive ou choisir le pays au bas de la carte</p>
</div>

  <div class="container">
    <!-- Map html - add the below to your page -->
    <div class="jsmaps-wrapper" id="africa-map"></div>
    <!-- End Map html -->
  </div>

  <script type="text/javascript">
    $(function() {
      $('#africa-map').JSMaps({
        map: 'africa'
      });
    });
  </script>